<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751987824686-0uivfu44krqt7egsn6aisse76d03pbqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751987824686-0uivfu44krqt7egsn6aisse76d03pbqu</string>
	<key>API_KEY</key>
	<string>AIzaSyDKByt7VSAz518LYdQr7xvV_aJsX5H_rPU</string>
	<key>GCM_SENDER_ID</key>
	<string>751987824686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kazuya.customerlistapp</string>
	<key>PROJECT_ID</key>
	<string>customer-list-app</string>
	<key>STORAGE_BUCKET</key>
	<string>customer-list-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751987824686:ios:5d67bbdf3f5dfebf0e67bf</string>
</dict>
</plist>